header{background-image: url('../../assets/images/header-Frame.svg');  }
  .line::before{
    content: url('../../assets/images/line.svg');
    position: absolute;
    height: 0.7rem;
    width: 0.7rem;
    bottom: 0;
  }
  @media  (max-width: 310px)  {
    .line::before{
 right: 18rem;
    }
  }