<div class="container  my-5">
    <div class="row ">
        <div class="col-md-6 d-flex flex-column ">
                <p class="h1 ms-5  text-wrap fw-bold" style="width: 20rem;">Find, book and rent a car <span class="main-color line  position-relative">Easily</span> </p>
                <p class="text-wrap ms-5 my-4"style="width: 19rem;">Get a car wherever and whenever you need it with your IOS and Android device.</p>
                <div class="ms-5">
                    <a routerLink="#"><img src="../../assets/images/download.svg" alt="link"></a>
                    <a routerLink="#" ><img src="../../assets/images/app-icon.jpg"  class="app-icon mx-2" alt="link"></a>
                </div>
        </div>
        <header class="col-md-6">
            <img src="../../assets/images/car-header.svg" alt="car-header" class="w-100" loading="lazy">
        </header>
    </div>
</div>