    <footer class="container-fluid text-white p-3" >
    <div class="row p-3">
        <div class="col-md-3">
            <img src="../../assets/images/logo-white.svg" alt="logo">
            <div class="my-4">
                <p> <i class="bi bi-geo-alt"></i> 25566 Hc 1, Glenallen, Alaska, 99588, USA</p>
                <p><i class="bi bi-telephone"></i> +603 4784 273 12</p>
                <p><i class="bi bi-envelope"></i> rentcars&#64;gmail.com </p>
            </div>
        </div>
        <div class="col-md-2 col-3">
            <p class="fw-bold">Our Product</p>
            <div class="my-4">
                <p> <a routerLink="#">career</a></p>
                <p> <a routerLink="#">car</a></p>
                <p> <a routerLink="#">Packages</a></p>
                <p> <a routerLink="#">Features</a></p>
                <p> <a routerLink="#">Priceline</a></p>
            </div>
        </div>
        <div class="col-md-2 col-3">
            <p class="fw-bold">Resources</p>
            <div class="my-4">
                <p><a routerLink="#">Download</a></p>
                <p><a routerLink="#">Help Centre</a></p>
                <p><a routerLink="#">Guides</a></p>
                <p><a routerLink="#">Partner Network</a></p>
                <p><a routerLink="#">Cruises</a></p>
                <p><a routerLink="#">Developer</a></p>
            </div>
        </div>
        <div class="col-md-2 col-3">
            <p class="fw-bold">About Rentcars</p>
            <div class="my-4">
                <p><a routerLink="#">Why choose us</a></p>
                <p><a routerLink="#">Help Centre</a></p>
                <p><a routerLink="#">Our Story</a></p>
                <p><a routerLink="#">Investor Relations</a></p>
                <p><a routerLink="#">Press Center</a></p>
                <p><a routerLink="#">Advertise</a></p>
            </div>
        </div>
        <div class="col-md-2 col-2">  
            <p class="fw-bold">follow</p>
            <div class="my-4 d-flex justify-content-between ">
            <a routerLink="#"><i class="bi bi-facebook"></i></a>
            <a routerLink="#"><i class="bi bi-instagram"></i></a>
            <a routerLink="#"><i class="bi bi-youtube"></i></a>
            </div>
            </div>
    </div>
    </footer>