<div class="container  my-5">
    <a routerLink="/landing" class="btn main-btn main-bg rounded z-2 rounded mt-3  position-sticky top-0">back home</a>
    <div class="row">
        <section class="col-md-5">
            <img src="../../assets/images/Audi 1.png" alt="car-header" class="w-100">
        </section>
        <div class="col-md-6 d-flex justify-content-center flex-column">
            <div class="text-center">
                <p class="main-color header-bg p-3"style="width: fit-content;">WHY CHOOSE US</p>
                <p class="h3 text-wrap" style="width: 20rem;">We offer the best experience with our rental deals</p>
            </div>
            <div class="col-md-6 p-3 main-color ">
                <p class="fw-bold h2"> {{carinfo.model}}  {{carinfo.make}}</p>
                <ul class="text-dark">
                    <li> engine:{{carinfo.engine}}</li>
                    <li> features: <ul *ngFor="let featur of carinfo.features; let i =index ">
                        <li>{{i+1}} -{{featur}}</li>
                    </ul> </li>
                    <li>fuelType: {{carinfo.fuelType}}</li>
                    <li>horsepower:{{carinfo.horsepower}} hp</li>
                    <li>mileage:{{carinfo.mileage}}km</li>
                    <li>transmission:{{carinfo.transmission}}</li>
                    <li>year:{{carinfo.year}}</li>
                </ul>
                <p class="text-center fw-bold h4 text-dark">price: <span class="main-color"> {{carinfo.price |currency: '' }} </span> /day</p>
            </div>
            <a routerLink="/allcars" class="btn main-btn main-bg rounded z-2 rounded mt-3 ">Show all cars</a>
        </div>
    </div>
</div>
