    /* se bar redius */
    form{border-radius: 15px;} 

    #Search{outline: var(--main-color);}
    @media (max-width:767px) {
        #showcars{
        justify-content:center!important;
        }
    }

    /* 250
    310 */