<div class="container" id="howitwork">
    <div class=" d-flex justify-content-center align-items-center flex-column fw-bold"> 
        <p class="main-color header-bg p-3">HOW IT WORK</p>
        <p class="fs-2 fw-bold">Rent with following 3 working steps</p>
    </div>
    <div class="row justify-content-center" >
        <div class="col-md-4 my-4 d-flex justify-content-center align-items-center flex-column ">
            <i class="bi bi-geo-alt-fill  fs-1 rounded p-3 mb-2 main-color header-bg"></i>
            <p class="p-1 fs-3 mt-3 ">Choose location</p>
            <p class="text-secondary h5 text-wrap" style="width: 10rem;">Choose your and find
                your best car</p>
        </div>
        <div class="col-md-4 my-4 d-flex justify-content-center align-items-center flex-column">
            <i class="bi bi-bookmark-star-fill  fs-1 rounded p-3 mb-2 main-color header-bg"></i>
            <p class="p-1 fs-3 mt-3 ">Book your car</p>
            <p class="text-secondary h5 ms-5 text-wrap" style="width: 10rem;">Book your car and we will deliver
                it directly to you</p>
        </div>
        <div class="col-md-4 my-4 d-flex justify-content-center align-items-center flex-column">
            <i class="bi bi-calendar  fs-1 rounded p-3 mb-2 main-color header-bg"></i>
            <p class="p-1 fs-3 mt-3 ">Pick-up date</p>
            <p class="text-secondary h5 ms-5 text-wrap" style="width: 10rem;">Select your pick up date and
                time to book your car</p>
        </div>
    </div>
    <div id="newsCarousel" class="carousel slide d-flex align-items-center" data-bs-ride="carousel" data-bs-touch="true">
        <div class="carousel-inner">
            <div class="carousel-item active"  data-bs-interval="1500">
                <div class="d-flex justify-content-between">
                    <img src="../../assets/images/honda-logo.svg" class="d-block mx-4" alt="Image 1" loading="lazy">
                    <img src="../../assets/images/audi-logo.svg" class="d-block mx-4" alt="Image 2" loading="lazy">
                    <img src="../../assets/images/juagur-logo.svg" class="d-block mx-4" alt="Image 3" loading="lazy">
                </div>
            </div>
            <div class="carousel-item"  data-bs-interval="1500">
                <div class="d-flex justify-content-between">
                    <img src="../../assets/images/nissan-logo.svg" class="d-block mx-4" alt="Image 4" loading="lazy">
                    <img src="../../assets/images/volvo-logo.svg" class="d-block mx-4" alt="Image 5"loading="lazy">
                    <img src="../../assets/images/last-logo.svg" class="d-block mx-4" alt="Image 6"loading="lazy">
                </div>
            </div>
            </div>
</div>