<div class="container-fluid p-3 position-sticky top-0 nav-cus bg-white">
    <div class="container ">
        <div class="row  d-flex align-items-center res-screen">
            <div class="col-md-2 col-12 text-center my-3 ">
             <a routerLink="/landing">  <img src="../../assets/images/logo.svg" alt="logo"></a> 
            </div>   
            <div class="col-md-6 custom-m  d-flex justify-content-between align-items-center  res-screen">
                <a routerLink="#" class="active-link" >Become a renter</a>
                <a routerLink="#" >Rental deals</a>
                <a routerLink="#" >How it work</a>
                <a routerLink="#" >Why choose us</a>
            </div>
            <div class="col-md-4 text-center   ">
                <a routerLink="#" class="mx-5" >sign in</a>
                <a routerLink="#" class="main-bg p-2 text-white main-btn btn" >sign up</a>
            </div>
         </div>
    </div>
</div>
