input::placeholder{color: black;
text-transform: capitalize;}
input{
    border-radius: 20px;
}
.holder{
    background-image: url('../../assets/images/iphoneFrame.svg');
    background-repeat: no-repeat;
    overflow: hidden;
}
.holder img{
  transform: translate(1rem,1rem);
}