                <!-- -->
                <div class="container my-5">
                    <div class=" d-flex justify-content-center align-items-center flex-column fw-bold"> 
                        <p class="main-color header-bg p-3">TESTIMONIALS</p>
                        <p class="fs-1 fw-bold ">What peole say about us?</p></div>
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                         <div class="carousel-item active ">
                            <div class="d-flex justify-content-center">
                                <div> 
                                    <div class="card mb-3 border-0 shadow  mx-2" style="max-width: 540px;">
                                    <div class="row g-0">
                                    <div class="col-md-4">
                                        <img loading="lazy"src="../../assets/images/test-img1.svg" class="w-100 rounded-start" alt="person">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                        <h5 class="card-title"><span class="h2">5.0</span> stars</h5>
                                        <div class="stars">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </div>
                                        <p class="card-text my-2">“I feel very secure when using caretall's services. Your customer care team is very enthusiastic and the driver is always on time.”</p>
                                        <p>Charlie Johnson</p>
                                        <p class="card-text"><small class="text-body-secondary">From New York, US</small></p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-6">
                                    <div class="card mb-3 border-0 shadow  mx-2" style="max-width: 540px;">
                                        <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="../../assets/images/test-img1.svg" class="w-100 rounded-start" alt="person">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                            <h5 class="card-title"><span class="h2">2.0</span> stars</h5>
                                            <div class="stars">
                                                <i class="bi bi-star-fill text-warning"></i>
                                                <i class="bi bi-star-fill text-warning"></i>
                                            </div>
                                            <p class="card-text my-2">Lorem ipsum dolor sit amet consectetur s aliquid, a eos inventore eligendi amet velit mollitia repellendus eveniet?</p>
                                            <p>Ali Ahmed</p>
                                            <p class="card-text"><small class="text-body-secondary">From cairo, egy</small></p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="carousel-item ">
                            <div class="d-flex justify-content-center">
                                <div> 
                                    <div class="card mb-3 border-0 shadow  mx-2" style="max-width: 540px;">
                                    <div class="row g-0">
                                    <div class="col-md-4">
                                        <img loading="lazy"src="../../assets/images/test-img2.svg" class="w-100 rounded-start" alt="person">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                        <h5 class="card-title"><span class="h2">5.0</span> stars</h5>
                                        <div class="stars">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </div>
                                        <p class="card-text my-2">“I feel very secure when using caretall's services. Your customer care team is very enthusiastic and the driver is always on time.”</p>
                                        <p>Charlie Johnson</p>
                                        <p class="card-text"><small class="text-body-secondary">From New York, US</small></p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-6">
                                    <div class="card mb-3 border-0 shadow  mx-2" style="max-width: 540px;">
                                        <div class="row g-0">
                                        <div class="col-md-4">
                                            <img loading="lazy"src="../../assets/images/test-img2.svg" class="w-100 rounded-start" alt="person">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                            <h5 class="card-title"><span class="h2">2.0</span> stars</h5>
                                            <div class="stars">
                                                <i class="bi bi-star-fill text-warning"></i>
                                                <i class="bi bi-star-fill text-warning"></i>
                                            </div>
                                            <p class="card-text my-2">Lorem ipsum dolor sit amet consectetur s aliquid, a eos inventore eligendi amet velit mollitia repellendus eveniet?</p>
                                            <p>Ali Ahmed</p>
                                            <p class="card-text"><small class="text-body-secondary">From cairo, egy</small></p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div> 
                        </div>
                    </div>
                
            
