:root{
    --main-color:#1572D3;
    --header-bg:#1572D31A
}
.header-bg{background-color: var(--header-bg);}
.main-color{color: var(--main-color);}
.main-bg{background-color: var(--main-color);}
.main-btn{color: white!important;
    border-radius: 10px;
    width: 8rem;
}
.app-icon{width: 8rem;}
a{text-decoration: none;color: black;}
a:hover{color: black!important;}
    .btn:hover{background-color: var(--main-color);}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}
